<div class="header-content">
  <a href="/" class="logo">
    <img
      src="/assets/heather-new-wordmark.svg"
      alt="Heather New"
      style="height: 25px; width: auto"
      width="150"
      height="25"
    />
  </a>
</div>

<div class="pages-menu-overlay" id="pages-overlay">
  <div class="pages-menu-content">
    <nav class="pages-main-nav">
      <a href="/" class="home-link-nav">Home</a>
      <a href="/pages/parasite-hunter.html">AR Game</a>
      <a href="/pages/built-different.html">Modular Brand</a>
      <a href="/pages/decision-tree.html">Decision Tree</a>
      <a href="/pages/hotspot.html">Wall of Flame</a>
      <a href="/pages/generative-portrait-wall.html">Gen Portrait</a>
      <a href="/pages/subway.html">Subway Boards</a>
      <a href="/pages/roller-derby.html">Design x Derby</a>
      <a href="/pages/about.html">About</a>
      <a href="/pages/contact.html">Contact</a>
    </nav>
  </div>
</div>

<div class="pages-nav-icon" id="nav-block">
  <div id="nav-hamburger-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
